header.l-header
  .l-header_inner
    h1 practice
    nav.gnav
      ul.gnav-list
        li.gnav-item: a(href='') aaa
        li.gnav-item: a(href='') bbb
        li.gnav-item: a(href='') ccc
        li.gnav-item: a(href='') ddd
        li.gnav-item: a(href='') eee
